.navbar {
  background-color: #15202b;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 70px;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #1da1f2;
}

/* Media query for tablet devices */
@media (max-width: 768px) {
  .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    font-size: 16px;
    padding: 10px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .navbar-nav {
    flex-wrap: wrap;
  }

  .nav-item {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .nav-link {
    font-size: 14px;
    padding: 7px;
  }
}
